@page "/Reps"
@inherits _ComponentBase
@layout ProLayout


<div class="Wrapper">
    <h1>@base.Lang().Tradueix("Representantes","Representants","Reps")</h1>

    <SearchBox @bind-Value="@searchTerm"></SearchBox>

    @if (model == null)
    {
        <div>
            <img src="/img/Spinner-24.gif" alt="loading..." />
        </div>
    }
    else
    {
                <div class="Summary">
            @string.Format("S'han trobat {0} representants, {1} en actiu",model.Count(), model.Where(x => x.FchTo == null).Count())
        </div>

        <div class="Grid">
            @if (base.IsLoaded)
            {
                foreach (var item in model.Where(x => x.Matches(searchTerm) && x.FchTo == null))
                {
                    <a href=@("/repmenu/"+item.Guid.ToString()) class='Item'>
                        <div class="Abr Truncate">@item.Abr</div>
                        <div class="Description Truncate">@item.Description</div>
                        <div class="Age">@(string.Format("{0:dd/MM/yy}",item.FchFrom))</div>
                    </a>
                }
            }
            else
            {
                <div>loading...</div>
            }
        </div>
    }

</div>




@code {
    private List<RepModel>? model;
    private string searchTerm = string.Empty;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            model = await base.GetAsync<List<RepModel>>("Reps", ((int)EmpDTO.EmpIds.MatiasMasso).ToString());
            StateHasChanged();
        };
        await base.OnAfterRenderAsync(firstRender);
    }



}
