@page "/MenuItems"

@using Spa.Shared
@using Spa.ViewModels
@layout ProLayout

@inject HttpClient Http
@inject AppState AppState
@inject Microsoft.Extensions.Localization.IStringLocalizer<MenuItems> Loc


@if (viewModel!.LoadStatus == Globals.LoadStatusEnum.Loading) {
    <div>Loading...</div>
} else {
    <div class="Wrapper">

        <h1>@Loc["Title"]</h1>
        <SearchBox @bind-Value="@viewModel.SearchTerm" AddNewUrl="MenuItem"></SearchBox>

        <div class="Grid">
            <Virtualize Items="@viewModel.Items()" Context="item">
                <a class="Item Truncate" href="menuitem/@item.Guid.ToString()">
                    <i class="@item.Ico"></i>
                    <span>
                        @item.Caption.Tradueix(AppState.Lang)
                    </span>
                </a>
            </Virtualize>
        </div>
    </div>
}




@code {

    private MenuItemsViewModel? viewModel;

    protected override  Task OnInitializedAsync()
    {
        viewModel = new MenuItemsViewModel(AppState);
        viewModel.OnStateChange += StateHasChanged;
        viewModel.Fetch(Http);
        return base.OnInitializedAsync();
    }
}
