@if (Exception != null)
{
    <div class="Wrapper">
        <div class="IconText">
            <div class="IconContainer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!-- warning -->
                    <path class="fa-primary"
                          d="M256 320C269.3 320 280 309.3 280 296v-128c0-13.25-10.75-24-23.1-24S232 154.8 232 168v128C232 309.3 242.8 320 256 320zM256 353.1c-17.36 0-31.44 14.08-31.44 31.44C224.6 401.9 238.6 416 256 416s31.44-14.08 31.44-31.44C287.4 367.2 273.4 353.1 256 353.1z" />
                    <path class="fa-secondary" style="fill: #ffcc00"
                          d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z" />
                </svg>
            </div>

            <div>
                <p>@title</p>

                @if (!string.IsNullOrEmpty(detail))
                {
                    <a class="SeeMore @(isShowingDetails?"Hidden":"")" href="#" @onclick="@(()=>isShowingDetails = true)" @onclick:preventDefault>
                        veure mes...
                    </a>
                    <p class="@(isShowingDetails & !string.IsNullOrEmpty(detail) ? "":"Hidden")">
                        @detail
                    </p>

                    <a class="SeeLess @(isShowingDetails?"":"Hidden")" href="#" @onclick="@(()=>isShowingDetails = false)" @onclick:preventDefault>
                        veure menys...
                    </a>

                    @if (!string.IsNullOrEmpty(stackTrace))
                    {
                        <a class="SeeMore @(isShowingStackTrace?"Hidden":"")" href="#" @onclick="@(()=>isShowingStackTrace = true)" @onclick:preventDefault>
                            veure stack trace...
                        </a>
                        <p class="@(isShowingStackTrace?"":"Hidden")">
                            @stackTrace
                        </p>
                        <a class="SeeLess @(isShowingStackTrace?"":"Hidden")" href="#" @onclick="@(()=>isShowingStackTrace = false)" @onclick:preventDefault>
                            tanca stack trace...
                        </a>
                    }
                }

            </div>
        </div>

        <div class="ButtonsBar">
            <a href="#" class="ButtonClose" @onclick="CloseClick" @onclick:preventDefault>
                Entesos
            </a>
        </div>
    </div>
}

@code {
    [Parameter] public Exception? Exception { get; set; }
    [Parameter] public EventCallback<Exception?> ExceptionChanged { get; set; }

    string? title;
    string? detail;
    string? stackTrace;
    private bool isShowingDetails = false;
    private bool isShowingStackTrace = false;


    protected override void OnParametersSet()
    {
        if (Exception != null)
        {
            title = Exception.Message;
            detail = Exception.InnerException?.Message;
            stackTrace = Exception.StackTrace;
        }
    }
    async Task CloseClick()
    {
        await ExceptionChanged.InvokeAsync(null);
    }

}
