@inject ApiService ApiService

<div class="PageWrapper900">
    <Title Value="@((value?.IsNew ?? true) ? "Nou assentament" : $"Assentament {value?.Id} del {value?.Fch:dd/MM/yy}")" CloseRequest="HandleCloseRequest"></Title>

    @if (value == null)
    {
        <Loading></Loading>
    }
    else if (selectedItem != null)
    {
        <Ccb Value="selectedItem"
             Cca="value"
             ValueChanged="HandleCcbChanged"
             DeleteRequest="DeleteCcbHandler"
             CloseRequest="@(()=>selectedItem = null)"></Ccb>
    }
    else
    {
        <PageOptions>
            <a href="#" @onclick:preventDefault @onclick="AddNewItem">Afegir partida</a>
            <a href="#" @onclick:preventDefault @onclick="HandleClon">Clona l'assentament'</a>
        </PageOptions>
        <div class="Grid">
            <div class="ColHeaders HideOnMobile">
                <div class="Cta">Compte</div>
                <div class="Contact">Subcompte</div>
                <div class="Deb">Deure</div>
                <div class="Hab">Haver</div>
            </div>

            @foreach (var item in value?.Items ?? new())
            {
                <a class="Item" href="#" @onclick:preventDefault @onclick="@(()=>selectedItem = item)">
                    <div class="Cta">
                        @ApiService.GetPgcCta(item.Cta)?.ToString()
                    </div>
                    <div class="Contact">
                        @ApiService.GetContact(item.Contact)?.ToString()
                    </div>
                    <div class="Deb">@(item.Debit() == null ? null : $"{item.Debit():N2} €")</div>
                    <div class="Hab">@(item.Credit() == null ? null : $"{item.Credit():N2} €")</div>
                </a>
            }
        </div>

        <PropertyGrid Model="propertyGrid"
                      UpdateRequest="HandleUpdateRequest"
                      CancelRequest="HandleCloseRequest"
                      DeleteRequest="HandleDeleteRequest"
                      ItemChanged="HandleItemChanged"
                      UpdateState="updateState"
                      DeleteState="deleteState">
        </PropertyGrid>

    }


    <Error @bind-Value="exception"></Error>
</div>

@code {
    [Parameter] public CcaModel? Value { get; set; }
    [Parameter] public EventCallback CloseRequest { get; set; }
    [Parameter] public EventCallback<CcaModel> AfterUpdate { get; set; }
    [Parameter] public EventCallback<CcaModel> AfterDelete { get; set; }
    private CcaModel? value;
    private CcaModel.Item? selectedItem;
    PropertyGridModel? propertyGrid;
    CrudButton.States updateState;
    CrudButton.States deleteState;

    private Exception? exception;

    enum Fields
    {
        Emp,
        Fch,
        Concept,
        Projecte,
        Docfile
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (Value!.IsNew)
                value = Value;
            else
                value = await ApiService.GetAsync<CcaModel>("Cca", Value!.Guid.ToString());

            Refresca();
        }
        catch (Exception ex)
        {
            exception = ex;
        }
    }

    void Refresca(Exception? ex = null)
    {
        exception = ex;
        propertyGrid = PropertyGrid();
    }

    PropertyGridModel PropertyGrid()
    {
        var retval = new PropertyGridModel();
        retval.AddEmp(value?.Emp);
        retval.AddDateOnly("Data",value?.Fch);
        retval.AddString("Concepte", value?.Concept);
        retval.AddGuidnom("Projecte", value?.Projecte, ApiService.GetProjectes(value?.Emp));
        retval.AddDocfile(value?.Docfile);
        return retval;
    }

    void HandleCloseRequest()
    {
        CloseRequest.InvokeAsync();
    }

    void HandleCcbChanged(CcaModel.Item args)
    {
        var previousItem = value!.Items.FirstOrDefault(x => x.Guid == args.Guid);
        if (previousItem == null)
            value.Items.Add(args);
        else
        {
            var idx = value!.Items.IndexOf(previousItem);
            value.Items[idx] = args;
        }
        selectedItem = null;
    }

    void DeleteCcbHandler(CcaModel.Item args)
    {
        value!.Items.Remove(args);
        selectedItem = null;
        //StateHasChanged();
    }

    void AddNewItem()
    {
        var deb = value!.Items.Sum(x => x.Debit()) ?? 0;
        var hab = value!.Items.Sum(x => x.Credit()) ?? 0;

        selectedItem = new CcaModel.Item
            {
                Eur = Math.Abs(deb - hab),
                Dh = deb > hab ? CcaModel.Item.DhEnum.Hab : CcaModel.Item.DhEnum.Deb
            };
    }

    void HandleItemChanged(PropertyGridModel.Item args)
    {
        if (args.Format == PropertyGridModel.Formats.EmpId)
        {
            value!.Emp = ((PropertyGridModel.Item<EmpModel.EmpIds>)args).Value;
            propertyGrid = PropertyGrid();
        }
    }

    async Task HandleUpdateRequest()
    {
        try
        {
            updateState = CrudButton.States.Loading;
            await Task.Yield();
            value!.Emp = propertyGrid!.GetEmp((int)Fields.Emp);
            value.Fch = propertyGrid!.GetDateOnly((int)Fields.Fch);
            value.Concept = propertyGrid!.GetString((int)Fields.Concept);
            value.Projecte = propertyGrid!.GetGuid((int)Fields.Projecte);
            value.Docfile = propertyGrid!.GetDocfile((int)Fields.Docfile);
            await ApiService.PostMultipartAsync<CcaModel, bool>(value.Docfile, value, "Cca");
            value.IsNew = false;
            await AfterUpdate.InvokeAsync(value);
        } catch(Exception ex)
        {
            exception = ex;
        }
        updateState = CrudButton.States.StandBy;
    }

    async Task HandleDeleteRequest()
    {
        try
        {
            deleteState = CrudButton.States.Loading;
            await Task.Yield();
            await ApiService.GetAsync<bool>("Cca/delete", value!.Guid.ToString());
            value.IsNew = false;
            await AfterDelete.InvokeAsync(value);
        }
        catch (Exception ex)
        {
            exception = ex;
        }
        deleteState = CrudButton.States.StandBy;

    }

    void HandleClon()
    {
        value = CcaModel.Factory(Value!.Emp, ApiService.CurrentUser()!, Value.Ccd ?? CcaModel.CcdEnum.Manual, Value.Fch);
        value.Concept = Value.Concept;
        foreach(var item in Value.Items)
        {
            value.AddItem(item.Dh, item.Eur, ApiService.GetPgcCta(item.Cta)!, item.Contact);
        }
    }
}
