@inherits _Base


<div class="Wrapper">
    <h1>@base.Lang().Tradueix("Entidades bancarias","Entitats bancaries","Banks")</h1>
    @if (model == null)
    {
        <Loading></Loading>
    }
    else
    {
        @if (model.Count > 5)
        {
            <SearchBox @bind-Value="@searchTerm"></SearchBox>
        }

        <div class="ShowObsolets">
            <UxToggle @bind-Value="IsShowingObsolets"
                  TrueText="@Localizer("OutdatedIncluded")"
                  FalseText="@Localizer("OutdatedNotIncluded")"></UxToggle>
        </div>

        @*        <div class="Summary">
    @string.Format("S'han trobat {0} entitats, {1} en actiu",model.Count(), model.Where(x => x. == null).Count())
    </div>
    *@
        <div class="Grid">
            @foreach (var item in model!.Where(x => x.Matches(searchTerm)))
            {
                <BancSaldoItem Item="@item" ShowEmp="@showEmp" ItemClicked="@(()=>ItemClicked(item))"></BancSaldoItem>
            }
        </div>

    }
</div>


<Error ProblemDetails="problemDetails"></Error>


@code {

    private List<BancModel.Saldo>? model;
    private string searchTerm = string.Empty;
    private bool IsShowingObsolets = false;
    private bool showEmp = false;
    private ProblemDetails? problemDetails;


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var apiResponse = await GetAsync<List<BancModel.Saldo>>("Bancs/Saldos");
            if (apiResponse.Value != null)
            {
                model = apiResponse.Value;
                if (model.Count > 0)
                    showEmp = model.Any(x => x.Emp != model.First().Emp);
            }
            else
                problemDetails = apiResponse.ProblemDetails;
            StateHasChanged();
        };
    }

    private void ItemClicked(BancModel.Saldo item)
    {
        navigationManager.NavigateTo("/PgcCtaSdos/" + item.Guid.ToString());
    }



}
