@inherits _Base
@inject NavigationManager NavigationManager

<div class="Grid">
    @foreach (var item in Model)
    {
        <a class="Item"
       href="#"
       @onclick="@(()=>ItemClick(item))"
       @onclick:preventDefault="true">
            <div class="Thumbnail">
                <img src="@item.ImageUrl()"
                 width="@ProductCategoryModel.IMG_WIDTH"
                 height="@ProductCategoryModel.IMG_HEIGHT" />
            </div>
            <div class="Label">
                @item.Nom?.Tradueix(base.Lang())
            </div>
        </a>
    }
    <div class="clearfix"></div>
</div>


@code {
    [Parameter] public List<ProductCategoryModel> Model { get; set; } = new();

    private void ItemClick(ProductCategoryModel item)
    {
        NavigationManager.NavigateTo(Globals.PageUrl("ConsumerCategory", item.Guid.ToString()));
    }
}
