@inherits _Base

<div class="Wrapper">
    <h1>
        @Localizer("Country")
    </h1>


    <TabControl>
        <TabPage Text="@Localizer("Details")">

            <PropertyGrid model="@gridModel"
                          SetDirty="@(()=>isDirty=true)"
                          CanEdit="true" 
            ></PropertyGrid> //ojo canedit

        </TabPage>

    </TabControl>

    <div class="ButtonsBar">
        <ButtonsBar 
                      IsDirty="isDirty"
                      IsUpdating="isUpdating"
                      CanDelete="@(value != null && !value.IsNew)"
                      RequestToCancel="CancelRequest"
                      RequestToDelete="DeleteRequest"
                      RequestToUpdate="UpdateRequest"></ButtonsBar>
    </div>

    <Error ProblemDetails="problemDetails"></Error>

</div>

@code {
    [Parameter] public Guid? Guid { get; set; }
    [Parameter] public EventCallback AfterUpdate { get; set; }
    [Parameter] public EventCallback RequestToCancel { get; set; }
    private CountryModel value;
    private PropertyGridModel gridModel;
    private Media media;
    private bool isDirty { get; set; }
    private bool isUpdating { get; set; }
    ProblemDetails? problemDetails;

    private enum Fields : int
    {
        Iso,
        NomEsp,
        NomCat,
        NomEng,
        NomPor,
        Lang,
        ExportCod,
        PrefixeTel
    }

    protected async override Task OnParametersSetAsync()
    {
        if (Guid == null)
            value = new CountryModel();
        else
        {
            var apiResponse = await GetAsync<CountryModel>("Country", Guid.ToString());
            if (apiResponse.Success())
                value = apiResponse.Value;
            else
                problemDetails = apiResponse.ProblemDetails;

            var model = new PropertyGridModel(value);
            model.AddString((int)Fields.Iso, value!.ISO ?? "", "ISO 3166-2");
            model.AddString((int)Fields.NomEsp, value.Nom?.Esp ?? "",Localizer("Spanish"));
            model.AddString((int)Fields.NomCat, value.Nom?.Cat ?? "", Localizer("Catalan"));
            model.AddString((int)Fields.NomEng, value.Nom?.Eng ?? "", Localizer("English"));
            model.AddString((int)Fields.NomPor, value.Nom?.Por ?? "", Localizer("Portuguese"));
            model.AddEnum((int)Fields.Lang, new LangDTO.Ids(), (int)value.Lang?.Id,  Localizer("Language"));
            model.AddEnum((int)Fields.ExportCod, new CountryModel.ExportCods(), (int)value.ExportCod,  Localizer("Export code"));
            model.AddString((int)Fields.PrefixeTel, value.PrefixeTelefonic ?? "", Localizer("Phone prefix"));
            gridModel = model;
            StateHasChanged();
        }
    }

    //private async Task LoadAtlas()
    //{
    //    if (AppState.IsLoadingAtlas)
    //    {
    //        AppState.AtlasJustLoaded += AtlasJustLoaded;
    //    }
    //    else
    //    {
    //        cache = AppState.DefaultCache();
    //        StateHasChanged();
    //        await AppState.InitiateAtlasCache();
    //        cache = AppState.DefaultCache();
    //    }
    //}

    private async Task UpdateRequest()
    {
        value!.ISO = gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.Iso)?.Value?.ToString();
        value!.Nom!.Esp = gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.NomEsp)?.Value?.ToString();
        value!.Nom!.Cat = gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.NomCat)?.Value?.ToString();
        value!.Nom!.Eng = gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.NomEng)?.Value?.ToString();
        value!.Nom!.Por = gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.NomPor)?.Value?.ToString();
        value!.Lang = (LangDTO)gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.Lang)?.Value;
        value!.ExportCod = (ZonaModel.ExportCods)gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.ExportCod)?.Value;
        value!.PrefixeTelefonic = gridModel!.Items.FirstOrDefault(x => x.Field == (int)Fields.PrefixeTel)?.Value?.ToString();

        var apiResponse = await PostAsync<CountryModel, bool>( value, "Country");
        if (apiResponse.Success())
        {
            CancelRequest();
        }
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private async Task DeleteRequest()
    {
        var apiResponse = await GetAsync<bool>( "Country/delete", value!.Guid.ToString());
        if (apiResponse.Success()) {
            Cache.Countries.Remove(value);
            CancelRequest();
        }
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private void CancelRequest()
    {
        if (RequestToCancel.HasDelegate)
            RequestToCancel.InvokeAsync();
    }

    public async Task<List<Option>> GetOptions(PropertyGridModel.Item item)
    {
        List<Option> retval = new();
        if (item.Field == (int)Fields.Lang)
        {
            retval = Enum.GetValues(typeof(LangDTO.Ids))
            .Cast<LangDTO.Ids>()
            .Where(x => x != LangDTO.Ids.Unknown)
            .Select(x => new Option
                {
                    Id = x.ToString(),
                    Nom = (new LangDTO(x)).Nom(base.Lang()),
                    Tag = new LangDTO(x)
                }).ToList();
        }
        else if (item.Field == (int)Fields.ExportCod)
        {
            retval.Add(new Option
                {
                    Id = ((int)CountryModel.ExportCods.Nacional).ToString(),
                    Nom = base.Tradueix("Nacional", "Nacional", "National"),
                    Tag = (int)CountryModel.ExportCods.Nacional
                });
            retval.Add(new Option
                {
                    Id = ((int)CountryModel.ExportCods.Intracomunitario).ToString(),
                    Nom = base.Tradueix("Intracomunitario", "Intracomunitari", "EU"),
                    Tag = (int)CountryModel.ExportCods.Intracomunitario
                });
            retval.Add(new Option
                {
                    Id = ((int)CountryModel.ExportCods.Extracomunitario).ToString(),
                    Nom = base.Tradueix("Extracomunitario", "Extracomunitari", "Off-EU"),
                    Tag = (int)CountryModel.ExportCods.Extracomunitario
                });
        }

        return retval;
    }

    private async Task LoadOptionsRequest(PropertyGridModel.Item item)
    {
        ApiResponse<GuidNom[]> apiResponse = null;
        switch ((Fields)item.Field)
        {
            default:
                break;
        }

        if (apiResponse != null)
        {
            if (apiResponse.Fail())
                problemDetails = apiResponse.ProblemDetails;
            else
            {
                List<IModel> values = apiResponse.Value.OrderBy(x => x.Nom).ToList<IModel>();
                gridModel.Items.First(x => x.Field == item.Field).Values = values;
                StateHasChanged();
            }
        }
    }
}
