@page "/invoiceSentList"
@inherits _ComponentBase

<h3>InvoicesSent</h3>

@if (model == null)
{
    <Loading Message="@LoadingMessage()"></Loading>
}
else if (selectedYear == null)
{
    foreach (var year in model.Years)
    {
        <a href="#" class="Year" @onclick="@(()=>YearClicked(year))" @onclick:preventDefault="true">
            <div class="Concept">@year.Id.ToString()</div>
            <div class="Eur">@string.Format("{0:n2} €",year.Eur)</div>
        </a>
    }
}
else
{
    <a href="#" class="Year Selected" @onclick="@SelectedYearClicked" @onclick:preventDefault="true">
        <div class="Concept">@selectedYear.Id.ToString()</div>
        <div class="Eur">@string.Format("{0:n2} €",selectedYear.Eur)</div>
    </a>

    <div class="Line"></div>

    @if (selectedMonth == null)
    {
        foreach (var month in Months())
        {
            <a href="#" class="Month" @onclick="@(()=>MonthClicked(month))" @onclick:preventDefault="true">
                <div class="Concept">@base.Lang().MonthAbr(month.Id)</div>
                <div class="Eur">@string.Format("{0:n2} €",month.Eur)</div>
            </a>
        }
    }
    else
    {
        <a href="#" class="Month Selected" @onclick="@SelectedMonthClicked" @onclick:preventDefault="true">
            <div class="Concept">@base.Lang().MonthAbr(selectedMonth.Id)</div>
            <div class="Eur">@string.Format("{0:n2} €",selectedMonth.Eur)</div>
        </a>

        <div class="Line"></div>

        <div class="Grid">
            @*            <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="VirtualizeBug"></div>
    *@
            <Virtualize Items="@FilteredItems()" Context="item">
                <a href="@item.PageUrl()" class="ItemContents">
                    <div class="SiiResult">@item.SiiResult</div>
                    <div class="PrintMode">@item.PrintMode</div>
                    <div class="FraId">@item.Id</div>
                    <div class="Fch">@item.Fch.ToString("dd/MM/yy")</div>
                    <div class="Cli">@item.Contact.Nom</div>
                    <div class="Eur">@string.Format("{0:n2} €",item.Amt.Eur)</div>
                    <div class="Fpg">@item.Fpg</div>
                    <div class="TipoFactura">@item.TipoFactura</div>
                    <div class="SiiL9">@item.SiiL9</div>
                    <div class="RegimenEspecialOTrascendencia">@item.RegimenEspecialOTrascendencia</div>
                    <div class="Concepte">@item.Concepte</div>
                </a>
                <div class="Line ShowOnMobile"></div>
            </Virtualize>
        </div>

        @*        <div class="Grid">
            @foreach (var item in FilteredItems())
            {
            <a href="#" class="ItemContents">
                <div class="SiiResult">@item.SiiResult</div>
                <div class="PrintMode">@item.PrintMode</div>
                <div class="FraId">@item.Id</div>
                <div class="Fch">@item.Fch.ToString("dd/MM/yy")</div>
                <div class="Cli">@item.Contact.Nom</div>
                <div class="Eur">@string.Format("{0:n2} €",item.Amt.Eur)</div>
                <div class="Fpg">@item.Fpg</div>
                <div class="TipoFactura">@item.TipoFactura</div>
                <div class="SiiL9">@item.SiiL9</div>
                <div class="RegimenEspecialOTrascendencia">@item.RegimenEspecialOTrascendencia</div>
                <div class="Concepte">@item.Concepte</div>
            </a>
            }
        </div>
*@              }

}

@code {
    private InvoiceSentListDTO? model;
    private IdEur? selectedYear;
    private IdEur? selectedMonth;

    protected override async Task OnInitializedAsync()
    {
        model = await GetAsync<InvoiceSentListDTO>("InvoiceSentList", Globals.DefaultEmp.ToString(), "0");
    }

    private void YearClicked(IdEur value)
    {
        selectedYear = value;
        selectedMonth = null;
    }

    private void SelectedYearClicked()
    {
        selectedYear = null;
        selectedMonth = null;
    }

    private void MonthClicked(IdEur value)
    {
        selectedMonth = value;
    }

    private void SelectedMonthClicked()
    {
        selectedMonth = null;
    }

    private List<IdEur> Months()
    {
        return model.Items
        .GroupBy(x => x.Fch.Month)
        .Select(x => new IdEur
            {
                Id = x.Key,
                Eur = x.Sum(y => y.Amt.Eur)
            })
            .OrderByDescending(x => x.Id)
            .ToList();
    }

    private List<InvoiceSentListDTO.Item> FilteredItems()
    {
        return model.Items.Where(x => x.Fch.Month == selectedMonth.Id).ToList();
    }

    private string LoadingMessage() => base.Tradueix("Cargando facturas", "Carregant factures", "Loading invoices");
}
