@page "/Reps"
@inherits _ComponentBase


<div class="Wrapper">
    <h1>@base.Lang().Tradueix("Representantes","Representants","Reps")</h1>

    @if (model == null)
    {
        <Loading></Loading>
    }
    else
    {
        <SearchBox @bind-Value="@searchTerm"></SearchBox>

        <div class="ShowObsolets">
            <Toggle Label="@base.Tradueix("Incluir obsoletos","Inclou obsolets","Include outdated")"
                @bind-Value="@IsShowingObsolets"></Toggle>
        </div>

        <div class="Summary">
            @string.Format("S'han trobat {0} representants, {1} en actiu",model.Count(), model.Where(x => x.FchTo == null).Count())
        </div>

        <div class="Grid">
            @foreach (var item in FilteredItems())
            {
                <a href=@("/repmenu/"+item.Guid.ToString()) class='Item'>
                    <div class="Abr Truncate">@item.Abr</div>
                    <div class="Description Truncate">@item.Description</div>
                    <div class="Age">@(string.Format("{0:dd/MM/yy}", item.FchFrom))</div>
                </a>
            }

        </div>
    }

</div>




@code {
    private List<RepModel>? model;
    private string searchTerm = string.Empty;
    private bool IsShowingObsolets = false;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            model = await base.GetAsync<List<RepModel>>("Reps", ((int)EmpDTO.EmpIds.MatiasMasso).ToString());
            StateHasChanged();
        };
    }

    private List<RepModel> FilteredItems()
    {
        var retval = model.Where(x => x.Matches(searchTerm)).ToList();
        if (!IsShowingObsolets)
            retval = retval.Where(x => x.FchTo == null).ToList();
        return retval;
    }


}


