@page "/staffs"
@page "/{LangSegment}/staffs"
@layout ProLayout

@implements IDisposable
@inject CultureService culture
@inject SessionStateService session
@inject StaffsService staffsService

<div class="PageWrapper900">

    @if (model == null)
    {
        <h1>@culture.Localize("Staffs")</h1>
        <Loading></Loading>
    }
    else if (selectedItem != null)
    {
        <Staff Model="selectedItem" RequestToCancel="@(()=>selectedItem = null)"></Staff>
    }
    else
    {
        <h1>@culture.Localize("Staffs")</h1>
        <PageOptions IsShowingOptions="true">
            <ChildContent>
                <ToggleObsolets @bind-Value="IsShowingObsolets"></ToggleObsolets>
            </ChildContent>
        </PageOptions>

        <SelectedEmps AvailableValues="availableEmps" @bind-SelectedValues="selectedEmps"></SelectedEmps>

        <SearchBox @bind-Value="@searchTerm"></SearchBox>


        <div class="Summary">
            @string.Format("S'han trobat {0} empleats",FilteredItems().Count())
        </div>

        <div class="Grid">
            <div class="Item ColumnHeaders HideOnMobile">
                <a class="Nom" href="#"
                @onclick="@(()=>SortColumn(Cols.Nom))"
                @onclick:preventDefault="true">
                    @culture.Localize("Name")
                </a>
                <a class="Position" href="#"
                @onclick="@(()=>SortColumn(Cols.Position))"
                @onclick:preventDefault="true">
                    @culture.Localize("StaffPosition")
                </a>
                <a class="Age" href="#"
                @onclick="@(()=>SortColumn(Cols.Age))"
                @onclick:preventDefault="true">
                    @culture.Localize("Age")
                </a>
                <a class="Seniority" href="#"
                @onclick="@(()=>SortColumn(Cols.Seniority))"
                @onclick:preventDefault="true">
                    @culture.Localize("StaffSeniority")
                </a>
            </div>

            <div class="GridRowDivider"></div>

            @foreach (var item in FilteredItems())
            {
                <div class='Item
                    @(item == selectedItem ? "Selected" : "" )
                    @(selectedItem != null && item != selectedItem ? "HideOnMobile" : "")
                    @(item.FchTo == null ? "" : "Obsoleto" )
                    '
                @onclick="@(()=>ItemClick(item))"
                @onclick:preventDefault="true">

                    <div class="Abr Truncate">@item.Abr</div>

                    <div class="Position Truncate HideOnMobile">
                        @(item.Position?.Nom?.Tradueix(culture.Lang()) ?? "")
                    </div>

                    <div class="Age Truncate HideOnMobile">
                        @item.Age()
                    </div>

                    <div class="Seniority Truncate HideOnMobile">
                        @item.Seniority()
                    </div>

                    @* On mobiles, show position only if declared *@
                    @if (item.Position != null)
                    {
                        <div class="Position Truncate HideOnDesktop">
                            @(item.Position.Nom?.Tradueix(culture.Lang()) ?? "")
                        </div>
                    }

                    @*On mobiles, merge age and seniority on a single line *@
                    <div class="Age HideOnDesktop">
                        @(string.Format("{0} anys, {1} en actiu", item.Age(), item.Seniority()))
                    </div>

                    <div class="GridRowDivider">

                        @*                        @if (item == selectedItem)
                {
                <div class="ContextMenu">
                <Nav nav="@selectedItem.ContextMenu()"></Nav>
                </div>
                }
                *@
                    </div>
                </div>
            }


        </div>
    }

</div>

<Error @bind-Exception="exception"></Error>


@code {
    [Parameter] public string? LangSegment { get; set; }
    private List<StaffModel>? model;
    private StaffModel? selectedItem;
    private List<EmpModel>? selectedEmps;
    private List<EmpModel>? availableEmps;
    private string searchTerm = string.Empty;
    private bool IsShowingObsolets = false;
    private Cols? sortedColumn = Cols.Nom;
    private bool isDescendingOrder = false;
    private Exception? exception;

    private enum Cols
    {
        Nom,
        Position,
        Age,
        Seniority
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        culture.OnChange += Refresca;
        session.OnChange += Refresca;
        staffsService.OnChange += Refresca;
        Refresca();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //model = staffsService.Values;
            //StateHasChanged();
        };
    }

    void Refresca(Exception? ex = null)
    {
        model = staffsService.Values;
        if (availableEmps == null || availableEmps.Count == 0)
        {
            availableEmps = session.Emps?.Where(x => model?.Any(y => x.Id == y.Emp) ?? false).ToList();
            if (availableEmps != null)
                selectedEmps = new List<EmpModel>(availableEmps);
        }

        exception = ex;
        InvokeAsync(StateHasChanged);
    }

    private List<StaffModel> FilteredItems()
    {
        var retval = model!.Where(x => x.Matches(searchTerm) && (selectedEmps?.Any(y => x.Emp == y.Id) ?? false)).ToList();
        if (!IsShowingObsolets)
            retval = retval.Where(x => x.FchTo == null).ToList();
        return retval;
    }

    private void ItemClick(StaffModel item)
    {
        selectedItem = item;
        //navigationManager?.NavigateTo(url);
        //selectedItem = selectedItem == null ? item : null;
    }

    private void SortColumn(Cols col)
    {
        var lang = culture.Lang();
        if (col == sortedColumn)
            isDescendingOrder = !isDescendingOrder;
        else
            sortedColumn = col;

        switch (col)
        {
            case Cols.Nom:
                model = isDescendingOrder ? model!.OrderByDescending(x => x.Abr).ToList() : model!.OrderBy(x => x.Abr).ToList();
                break;
            case Cols.Position:
                model = isDescendingOrder ? model!.OrderByDescending(x => x.Position?.Nom.Tradueix(culture.Lang()) ?? "").ToList() : model!.OrderBy(x => x.Position?.Nom.Tradueix(culture.Lang()) ?? "").ToList();
                break;
            case Cols.Age:
                model = isDescendingOrder ? model!.OrderByDescending(x => x.Age()).ToList() : model!.OrderBy(x => x.Age()).ToList();
                break;
            case Cols.Seniority:
                model = isDescendingOrder ? model!.OrderByDescending(x => x.Seniority()).ToList() : model!.OrderBy(x => x.Seniority()).ToList();
                break;
        }
    }

    public void Dispose()
    {
        culture.OnChange -= Refresca;
        session.OnChange -= Refresca;
        staffsService.OnChange -= Refresca;
    }
}
