@page "/Staff/Nominas/{Guid:guid}"
@page "/Staff/Nominas"
@inherits _ComponentBase


<div class="Wrapper">
    @if (model == null)
    {
        <Loading></Loading>
    }
    else
    {
        <h1>@Localizer("Payrolls") @model.Properties.Abr</h1>

        <div class="Summary">
            @string.Format("S'han trobat {0} fulls de nómina",model.Nominas.Count())
        </div>

        <div class="Grid">
            <div class="Item ColumnHeaders HideOnMobile">
                <div>&nbsp;</div>
                <a class="Fch" href="#"
               @onclick="@(()=>SortColumn(Cols.Fch))"
               @onclick:preventDefault="true">
                    @Localizer("Fch")
                </a>
                <a class="Brut" href="#"
               @onclick="@(()=>SortColumn(Cols.Gross))"
               @onclick:preventDefault="true">
                    @Localizer("Gross")
                </a>
                <a class="Net" href="#"
               @onclick="@(()=>SortColumn(Cols.Net))"
               @onclick:preventDefault="true">
                    @Localizer("Net")
                </a>
            </div>

            <div class="GridRowDivider"></div>

            @foreach (var item in model.Nominas)
            {
                <a class="Item" href="@item.PdfUrl()" target="_blank">
                    <div class="Pdf"></div>
                    <div class="Fch">@item.Fch.ToString("dd/MM/yy")</div>
                    <div class="Brut HideOnMobile">@string.Format("{0:N2} €",item.Devengat)</div>
                    <div class="Net HideOnMobile">@string.Format("{0:N2} €", item.Liquid)</div>

                    <div class="Brut HideOnDesktop">@string.Format("{0}:{1:N2} €", Localizer("Gross"),item.Devengat)</div>
                    <div class="Net HideOnDesktop">@string.Format("{0}:{1:N2} €", Localizer("Net"),item.Liquid)</div>
                </a>
                <div class="GridRowDivider"></div>
            }
        </div>
    }
</div>

<UxError ProblemDetails="problemDetails"></UxError>

@code {
    StaffDTO? model;
    [Parameter] public Guid? Guid { get; set; }
    private Cols? sortedColumn = Cols.Fch;
    private bool isDescendingOrder = false;
    private ProblemDetails problemDetails;

    private enum Cols
    {
        Fch,
        Gross,
        Net
    }

    protected override async Task OnParametersSetAsync()
    {
        if (model == null)
        {
            if (Guid == null)
                model = await base.GetAsync<StaffDTO>("staff/nominas");
            else
                model = await base.GetAsync<StaffDTO>("staff/nominas", Guid.ToString());
        }
    }


    private void SortColumn(Cols col)
    {
        var lang = base.Lang();
        if (col == sortedColumn)
            isDescendingOrder = !isDescendingOrder;
        else
            sortedColumn = col;

        switch (col)
        {
            case Cols.Fch:
                model.Nominas = isDescendingOrder ? model.Nominas.OrderByDescending(x => x.Fch).ToList() : model.Nominas.OrderBy(x => x.Fch).ToList();
                break;
            case Cols.Gross:
                model.Nominas = isDescendingOrder ? model.Nominas.OrderByDescending(x => x.Devengat).ToList() : model.Nominas.OrderBy(x => x.Devengat).ToList();
                break;
            case Cols.Net:
                model.Nominas = isDescendingOrder ? model.Nominas.OrderByDescending(x => x.Liquid).ToList() : model.Nominas.OrderBy(x => x.Liquid).ToList();
                break;
        }
    }
}
