<div class="Wrapper">
    @if (CanEdit && isEditing)
    {
        <input type="password"
           @bind-value="@_innerControlValue"
           @onblur="@(()=>{isEditing = false;})" />
    }
    else
    {
        <a class="Display" href="#" @onclick="@(()=>{isEditing = true;})" @onclick:preventDefault="true">
            @if (string.IsNullOrEmpty(_innerControlValue))
            {
                <div>&nbsp;</div>
            }
            else if (isShowingPassword)
            {
                <div class="Text">
                    @_innerControlValue)
                </div>
            }
            else
            {
                <div class="Truncate">
                    @(new string('*', _innerControlValue.Length))
                </div>
            }
        </a>
    }

    <div class="ButtonsBar">
        <a href="#" @onclick="@(()=>{isShowingPassword = !isShowingPassword;})" @onclick:preventDefault="true">
            <img src="/img/svg/light-eye.svg">
        </a>
    </div>

</div>

@code {
    //[Parameter] public string? Value { get; set; }
    [Parameter] public Object Value { get; set; }
    [Parameter] public bool CanEdit { get; set; }

    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public EventCallback<Object> ObjChanged { get; set; }
    private bool isShowingPassword = false;
    private bool isEditing = false;


    private string _innerControlValue
    {
        get => Value?.ToString() ?? "";
        set
        {
            if (Value?.ToString() != value)
            {
                Value = value;

                if (ObjChanged.HasDelegate) // quan Value es Object com a PropertyGrid
                    ObjChanged.InvokeAsync(value);
                if (ValueChanged.HasDelegate)
                    ValueChanged.InvokeAsync(value);
            }
        }
    }

}
