@page "/contacts"

@using Client.Shared
@using Client.ViewModels
@layout ProLayout
@inject AppState AppState
@inject Microsoft.Extensions.Localization.IStringLocalizer<Contacts> Loc


@if (viewModel!.LoadStatus == AppState.StatusEnum.Loading) {
    <div>Loading...</div>
} else {
    <div class="Wrapper">

        <h1>@Loc["Title"]</h1>

        <SearchBox @bind-Value="@viewModel.SearchTerm"></SearchBox>

        <Virtualize Items="@viewModel.Items()" Context="item">
            <a class="Item" href="@item.EditorUrl()">
                @item.FullNom
            </a>
        </Virtualize>
    </div>
}




@code {

    private ContactsViewModel? viewModel;

    protected override  Task OnInitializedAsync()
    {
        viewModel = new ContactsViewModel(AppState);
        viewModel.OnStateChange += StateHasChanged;
        viewModel.Fetch();
        return base.OnInitializedAsync();
    }
}
