@inject CultureService culture

<div class="PageWrapper600">

    <PageOptions>
        <a href="#" @onclick="AddNewRequest" @onclick:preventDefault>
            @culture.Localize("AddNew")
        </a>
    </PageOptions>

    <div class="Grid">
        @foreach (var item in Model ?? new())
        {
            <div class='Item'>

                <div class="Icon">
                    <a href="@item.Docfile.DownloadUrl()" target="_blank" title="@item.Docfile.Features()">
                        <Icon Id="Icon.Ids.Doc"></Icon>
                    </a>
                </div>

                <a href="#" class='Fch' @onclick="@(()=>Zoom(item))" @onclick:preventDefault>
                    @string.Format("{0:dd/MM/yy}",item.Docfile.Fch)
                </a>

                <a href="#" class='Nom Truncate' @onclick="@(()=>Zoom(item))" @onclick:preventDefault>
                    @item.Docfile.Nom
                </a>

            </div>
        }
    </div>

</div>
@code {
    [Parameter] public List<DocfileSrcModel>? Model { get; set; }
    [Parameter] public EventCallback RequestToAddNew { get; set; }
    [Parameter] public EventCallback<ModelEditor.Breadcrumb> EditorRequest { get; set; }

    DocfileModel? selectedItem;
    string? searchterm;

    void AddNewRequest()
    {
        RequestToAddNew.InvokeAsync();
    }

    async Task Zoom(DocfileSrcModel item)
    {
        var breadcrumb = new ModelEditor.Breadcrumb(item, item.Docfile?.Nom ?? "?");
        await EditorRequest.InvokeAsync(breadcrumb);
    }
}
