@inject CultureService culture
@inject ProductsService productsService

<div class="Grid">
    <div class="ColumnHeader Nom">@culture.Localize("Center")</div>
    <div class="ColumnHeader Amt">@culture.Localize("Amount")</div>

    @if (centers == null)
    {
        <Loading></Loading>
    }
    else if (selectedFile == null)
    {
        <div class="Nom Truncate">
            @culture.Localize("Totals")
        </div>
        <div class="Amt">@string.Format("{0:N2} €",Amount())</div>


        @foreach (var center in centers)
        {
            <a class="Nom Truncate" href="#" @onclick="@(()=>CenterClick(center))" @onclick:preventDefault>
                @center.Caption
            </a>
            <div class="Amt">@string.Format("{0:N2} €",center.Amount)</div>

            @if (center == selectedCenter)
            {
                @foreach (var brand in Brands(center.Guid))
                {
                    <a class="Brand Nom Truncate" href="#" @onclick="@(()=>BrandClick(brand))" @onclick:preventDefault>
                        @brand.Caption
                    </a>
                    <div class="Brand Amt">@string.Format("{0:N2} €",brand.Amount)</div>

                    @if (selectedBrand != null && brand.Guid == selectedBrand.Guid)
                    {
                        @foreach (var category in Categories(center.Guid, brand.Guid))
                        {
                            <a class="Category Nom Truncate" href="#" @onclick="@(()=>CategoryClick(category))" @onclick:preventDefault>
                                @category.Caption
                            </a>
                            <div class="Category Amt">@string.Format("{0:N2} €",category.Amount)</div>

                            @if (selectedCategory != null && category.Guid == selectedCategory.Guid)
                            {
                                @foreach (var sku in Skus(center.Guid, category.Guid))
                                {
                                    <a class="Sku Nom Truncate" href="#" @onclick="@(()=>CategoryClick(category))" @onclick:preventDefault>
                                        @sku.Caption
                                    </a>
                                    <div class="Sku Amt">@string.Format("{0:N2} €",sku.Amount)</div>
                                }

                            }

                        }

                    }

                }

            }
        }
    } else
    {
        <EdiversaInvRptFile Model="selectedFile" CloseRequest="@(()=>selectedFile = null)"></EdiversaInvRptFile>
    }
</div>

@code {
    [Parameter] public List<Pages.EciStocks.XItem> Model { get; set; }
    private List<UxItem> centers;
    private UxItem selectedCenter = null;
    private UxItem selectedBrand = null;
    private UxItem selectedCategory = null;
    private EdiversaInvrptModel selectedFile = null;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        centers = Centers();
    }

    private List<UxItem> Centers()
    {
        var retval = Model
        .GroupBy(x => x.Center.Guid)
        .Select(x => new UxItem
            {
                Guid = x.First().Center.Guid,
                Caption = x.First().Center.Nom,
                Amount = x.Sum(y => y.Amt)
            }).OrderBy(x => x.Caption).ToList();
        return retval;
    }

    private List<UxItem> Brands(Guid centerGuid)
    {
        var retval = Model
        .Where(x => x.Sku != null && x.Center.Guid == centerGuid)
        .GroupBy(x => productsService.Brand(x.Sku.Guid))
        .Select(x => new UxItem
            {
                Guid = x.Key == null ? System.Guid.Empty : x.Key.Guid,
                Caption = x.Key == null ? "[sin marca asignada]" : x.Key.Nom.Tradueix(culture.Lang()),
                Amount = x.Sum(x => ((decimal?)x.Amt ?? (decimal)0))
            }).OrderBy(x => x.Caption).ToList();

        return retval;
    }
    private List<UxItem> Categories(Guid centerGuid, Guid brandGuid)
    {
        var retval = Model
        .Where(x => x.Sku != null && x.Center.Guid == centerGuid && productsService.Brand(x.Sku.Guid).Guid == brandGuid)
        .GroupBy(x => productsService.Category(x.Sku.Category))
        .Select(x => new UxItem
            {
                Guid = x.Key == null ? System.Guid.Empty : x.Key.Guid,
                Caption = x.Key == null ? "[sin categoria asignada]" : x.Key.Nom.Tradueix(culture.Lang()),
                Amount = x.Sum(x => ((decimal?)x.Amt ?? (decimal)0))
            }).OrderBy(x => x.Caption).ToList();

        return retval;
    }

    private List<UxItem> Skus(Guid centerGuid, Guid categoryGuid)
    {
        var retval = Model
        .Where(x => x.Sku != null && x.Center.Guid == centerGuid && x.Sku.Category == categoryGuid)
        .GroupBy(x => x.Sku)
        .Select(x => new UxItem
            {
                Guid = x.Key == null ? System.Guid.Empty : x.Key.Guid,
                Caption = x.Key == null ? "[sku desconegut]" : x.Key.Nom.Tradueix(culture.Lang()),
                Amount = x.Sum(x => ((decimal?)x.Amt ?? (decimal)0)),
                Tag = x.First().Tag
            }).OrderBy(x => x.Caption).ToList();

        return retval;
    }



    private void CenterClick(UxItem center)
    {
        if (center == selectedCenter) selectedCenter = null; else selectedCenter = center;
        selectedCategory = null;
        selectedBrand = null;
    }

    private void BrandClick(UxItem brand)
    {
        if (brand == selectedBrand) selectedBrand = null; else selectedBrand = brand;
        selectedCategory = null;
    }

    private void CategoryClick(UxItem category)
    {
        if (category == selectedCategory) selectedCategory = null; else selectedCategory = category;
    }
    private void SkuClick(UxItem sku)
    {
        selectedFile = (EdiversaInvrptModel)sku.Tag;
    }

    private decimal Amount() => (decimal)Model.Where(x => x.Amt != null).Sum(x => x.Amt);

    private class UxItem
    {
        public string Caption { get; set; }
        public Guid Guid { get; set; }
        public int? Stock { get; set; }
        public decimal? Amount { get; set; }
        public object Tag { get; set; }
    }
}
