@* ----------- M+O ------------*@

@inject AuthenticationStateProvider authStateProvider
@inject CookieService cookie
@inject NavigationManager NavigationManager
@inject Blazor.Analytics.IAnalytics Analytics
@inject CultureService culture
@inject AppStateService appstate
@inject SessionStateService session

<div class="Wrapper">

    <label class="EmailAddress">@culture.Localize(emailChecked?"EmailAddress":"Login.Info.EmailAddress")</label>
    <div class="Value">
        <InputTextButton Mode="InputTextButton.Modes.Email"
                         IsLoading="isCheckingEmail"
                         IsEditing="IsEditingEmail"
                         CallToAction="CheckEmail"></InputTextButton>
    </div>

    <!-- --------- Email is not found. Offer the option to sign up --------------------------------- -->
    <div class="@(emailNotFound ? "":"Hidden")">
        <!--We have no user registered with this email yet.
        Click on next button to receive a verification code so we make sure you have access to this address.-->
        <p>@culture.Localize("Login.UserIsNotRegistered")</p>
    </div>

    <!-- --------- Email is registered. Ask for password and offer an option to recover it --------- -->
    <div class="@(shouldShowPassword?"":"Hidden")">
        <label class="Password">@culture.Localize("Password")</label>
        <div class="Value">
            <InputTextButton Mode="InputTextButton.Modes.Password"
                             IsLoading="isCheckingPassword"
                             IsEditing="@(()=>shouldOfferPasswordReset = false)"
                             CallToAction="CheckPassword"></InputTextButton>
        </div>
        <div class="Persist">
            <label>
                <input type="checkbox" @bind="persist">
                @culture.Localize("RemindMe")
            </label>
        </div>

        <!-- No tengo o no recuerdo mi contraseña -->
        <div class="IForgot @(shouldOfferPasswordReset ? "":"Hidden")">
            <a href="#" @onclick="SendVerificationCode" @onclick:preventDefault>
                @culture.Localize("Login.IForgot.Anchor")
            </a>
            <div class="@(isSendingverificationCode ? "" : "Hidden")">
                <img src="/img/spinner-24.gif"
                     alt="@culture.Lang().Tradueix("Un momento por favor"
                     ,"Un moment si us plau"
                     ,"A moment please"
                     ,"espere um momento por favor")" />
            </div>
        </div>
    </div>

    <!-- Wrong password -->
    <div class="@(wrongPassword?"":"Hidden")">
        <p class="Warning">
            <!--Wrong password.
                If you don't remember it click on next button.
                We'll send you a code you'll be requested to enter in order to create a new password.-->
            @culture.Localize("Login.Err.WrongCredentials")
        </p>

    </div>

    <!-- sendme a verification code -->
    <div class="@(shouldOfferVerificationCode?"":"Hidden")">
        <button class="SendMe Button @(isSendingverificationCode ? "Hidden" : "")" @onclick="SendVerificationCode">@culture.Localize("SignUp.SendVerificationCode")</button>

        <div class="@(isSendingverificationCode ? "" : "Hidden")">
            <img src="/img/spinner-24.gif"
                 alt="@culture.Lang().Tradueix("Un momento por favor"
                     ,"Un moment si us plau"
                     ,"A moment please"
                     ,"espere um momento por favor")" />
        </div>
    </div>



    <div class="@(hasSentVerificationCode & !isValidVerificationCode ? "" : "Hidden")">
        <p>
            @culture.Localize("Login.IForgot.VerificationCodeRequest",culture.Localize("Login.Email.VerificationCodeSubject"))".
        </p>

        <InputTextButton CallToAction="CheckVerificationCode"></InputTextButton>
    </div>

    <div class="@(isWrongVerificationCode ? "" : "Hidden")">
        <p>@culture.Localize("Login.IForgot.VerificationCodeFail")</p>
    </div>

    <div class="@(isValidVerificationCode ? "" : "Hidden")">
        <p>@culture.Localize("Login.NewPwdRequest")</p>
        <InputTextButton Mode="InputTextButton.Modes.Password"
                         IsEditing="@(()=>ShouldShowPasswordConfirmation = false)"
                         CallToAction="CreateNewPassword"></InputTextButton>
    </div>
    <div class="@(ShouldShowPasswordConfirmation ? "" : "Hidden")">
        <p>@culture.Localize("Login.NewPwdConfirm")</p>
        <InputTextButton Mode="InputTextButton.Modes.Password"
                         CallToAction="ValidateNewPasswordConfirmation"></InputTextButton>
    </div>
    <div class="@(passwordMissmatch ? "" : "Hidden")">
        <p>@culture.Localize("Login.NewPwd.Unmatch")</p>
    </div>

    <Error @bind-Exception="exception"></Error>

</div>


@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    [Parameter] public EventCallback<UserModel> Success { get; set; }
    [Parameter] public EventCallback<Exception> Fail { get; set; }

    string? emailAddress;
    string? password;
    string? passwordreset;
    string? passwordresetConfirmation;
    string? serverVerificationCode;
    bool persist = true;
    System.Security.Claims.ClaimsPrincipal? claimsPrincipal;
    UserModel? userAccount;
    Exception? exception;

    bool isCheckingEmail = false;
    bool emailChecked = false;
    bool emailExists = false;
    bool emailNotFound = false;
    bool wrongPassword = false;
    bool shouldShowPassword = false;
    bool shouldOfferPasswordReset = true;
    bool shouldOfferVerificationCode = false;
    bool isCheckingPassword = false;
    bool isSendingverificationCode = false;
    bool hasSentVerificationCode = false;
    bool isValidVerificationCode = false;
    bool isWrongVerificationCode = false;
    bool ShouldShowPasswordConfirmation = false;
    bool passwordMissmatch = false;
    bool isResettingPassword = false;

    int minPasswordLength = 6;


    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationState;
        claimsPrincipal = authState?.User;
    }

    private void IsEditingEmail()
    {
        shouldShowPassword = false;
        password = string.Empty;
        hasSentVerificationCode = false;
    }

    private async Task CheckEmail(string args)
    {
        emailAddress = args;
        if (!string.IsNullOrEmpty(emailAddress))
        {
            isCheckingEmail = true;
            try
            {
                userAccount = await appstate.PostAsync<string, UserModel>(emailAddress, "user/FromEmailAddress", appstate.EmpId.ToString());
                emailExists = userAccount != null;
                shouldShowPassword = emailExists;
                shouldOfferPasswordReset = emailExists;
                emailNotFound = !emailExists;
                shouldOfferVerificationCode = emailNotFound;
                emailChecked = true;
            }
            catch (Exception ex)
            {
                exception = ex;
            }

            isCheckingEmail = false;
            StateHasChanged();
        }

    }


    private async Task CheckPassword(string args)
    {
        isCheckingPassword = true;
        password = args;
        if (!string.IsNullOrEmpty(password))
        {
            var hash = DTO.Helpers.CryptoHelper.Hash(emailAddress!, password!);
            if (userAccount!.Hash == hash)
            {
                wrongPassword = false;
                try
                {
                    var loggedUser = await appstate.PostAsync<string, UserModel>(hash, "User/fromHash", ((int)EmpModel.EmpIds.MatiasMasso).ToString());
                    await session.LoginAsync(loggedUser);
                    if (!userAccount.IsLocal())
                        Analytics?.TrackEvent("login", new { method = "password", email = emailAddress });
                }
                catch (Exception ex)
                {
                    exception = ex;
                }
            }
            else
            {
                wrongPassword = true;
                shouldOfferVerificationCode = true;
                shouldOfferPasswordReset = false;
            }
        }
        isCheckingPassword = false;
    }

    private async Task SendVerificationCode()
    {
        if (!string.IsNullOrEmpty(emailAddress))
        {
            isSendingverificationCode = true;
            serverVerificationCode = DTO.Helpers.CryptoHelper.RandomString(10);

            var subject = culture.Localize("Login.Email.VerificationCodeSubject");
            var body = culture.Localize("Login.Email.VerificationCodeBody", serverVerificationCode).Html();
            var templatedBody = Services.MailService.TemplatedBody(body);
            await Services.MailService.SendEmailAsync(emailAddress, subject, templatedBody, culture.Lang());
            isSendingverificationCode = false;
            hasSentVerificationCode = true;
            shouldOfferPasswordReset = false;
            shouldShowPassword = false;
            emailNotFound = false;
            shouldOfferVerificationCode = false;
        }
    }

    private void CheckVerificationCode(string args)
    {
        isValidVerificationCode = args == serverVerificationCode;
        isWrongVerificationCode = !isValidVerificationCode;
    }

    private void CreateNewPassword(string args)
    {
        passwordreset = args;
        ShouldShowPasswordConfirmation = true;
    }

    private async Task ValidateNewPasswordConfirmation(string passwordresetConfirmation)
    {
        passwordMissmatch = ((passwordreset?.Length ?? 0) < minPasswordLength | passwordreset != passwordresetConfirmation);
        if (!passwordMissmatch)
        {
            if (userAccount == null)
                await CreateUser();
            else
                await ResetPassword(passwordresetConfirmation);
        }
    }

    private async Task CreateUser()
    {
        var user = new UserModel();
        user.Emp = EmpModel.EmpIds.MatiasMasso;
        user.EmailAddress = emailAddress;
        user.Hash = DTO.Helpers.CryptoHelper.Hash(emailAddress!, passwordreset!);
        user.Source = UserModel.Sources.website;
        user.Lang = culture.Lang();
        user.Country = culture.Lang().DefaultCountry();
        user.Rol = UserModel.Rols.guest;

        try
        {
            var token = await appstate.PostAsync<UserModel, string>(user, "user/Create");
            if (!user.IsLocal())
                Analytics?.TrackEvent("sign_up", new { method = "password", email = emailAddress });
            await session.LoginAsync(user);
        } catch(Exception ex)
        {
            exception = ex;
        }

    }


    private async Task ResetPassword(string passwordresetConfirmation)
    {
        userAccount!.Hash = DTO.Helpers.CryptoHelper.Hash(emailAddress!, passwordreset!);

        try
        {
            var token = await appstate.PostAsync<string, string>(userAccount!.Hash, "user/resetPwd", userAccount!.Guid.ToString()!);
            await session.LoginAsync(userAccount);
        }
        catch (Exception ex)
        {
            exception = ex;
        }
    }
}